/* Section principale */
.landing-page {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-content {
    text-align: center;
    padding: 50px 0;
  }
  
/* Set the image to span the full width of the screen */
.image-container {
    width: 100%; /* Full viewport width */
}

.graduate-photo {
    width: 100%;
    height: auto; /* Keep the original aspect ratio */
    
}

  
  .graduate-photo:hover {
    transform: scale(1.05);
  }
  
  /* Carte de l'enseignant, de l'étudiant et de l'admin */
  .card-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    gap: 30px;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .icon {
    font-size: 2.5rem;
    color: #081109;
    background-color: #e6f7ec;
    padding: 15px;
    border-radius: 40%;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .card:hover .icon {
    transform: scale(0.7);
    background-color: #45a049;
  }
  
  /* Section des avantages */
  .benefits-section {
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
  }
  
  .benefit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .benefit-icon {
    font-size: 2rem;
    margin-right: 15px;
    color: #4CAF50;
  }
  
  /* Section des fonctionnalités */
  .features-section {
    padding: 40px;
    text-align: center;
  }
  
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .feature-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .feature-icon {
    font-size: 1.5rem;
    color: #4CAF50;
    margin-right: 15px;
  }
  
  /* Bouton principal */
  .cta-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #45a049;
  }
  